
    <link rel="stylesheet" href="content.page.scss">


<section class="home show-animate" id="home">
    <div class="home-content">
        <h1>Hi! I'm <span>Christian Regir</span></h1>

            <h3>BSIT 2-3</h3>

         <p>Hey, I'm a second-year <span>BSIT</span> student at <span>Pamantasan ng Lungsod ng Valenzuela</span>.<br> 
          Beyond my academic pursuits, I find joy in gaming and drawing. I just want to<br> 
          see myself after 5 years is to improve at many aspects of my life. My Strength <br>
          is I tend to listen and observe to everyone but this is also my Weakness <br>
          because I am not effective at communicating to express my idea. My <br>
          love language is all because it is what it is xD. If I'm a food, I want to be <br>
          a shanghai so they can put me in their pockets. My petpeeve is the <br>
          person who still doesn't understand no matter how much I explain.</p>
    </div>


</section>

