
<ion-header>
  <ion-toolbar>
    <ion-title>Welcome, admin!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goToHome()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="goToCalculator()">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Calculator</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
   
      <ion-content [fullscreen]="true">

        <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button (click)="goToHome()">
              <ion-icon name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-tab-button>
        
            <ion-tab-button (click)="goToCalculator()">
              <ion-icon name="apps"></ion-icon>
              <ion-label>Calculator</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>



        <div class="ion-text-center ion-padding">
          <ion-button color="primary">Primary Button</ion-button>
          <ion-button color="secondary">Secondary Button</ion-button>
          <ion-button color="danger">Danger Button</ion-button>
        
          <ion-button color="warning" (click)="alert()">Alert</ion-button>
          <ion-button color="light" (click)="presentToast()">Toast</ion-button>
          <ion-button color="dark" (click)="dismissToast()">Dismiss Toast</ion-button>

        
          <ion-toggle [(ngModel)]="condition"></ion-toggle>
        
          <ion-button (click)="logout()">Logout</ion-button>
        
          <ion-list>
            <ion-item>
              Christian
            </ion-item>
            <ion-item>
              Mark
            </ion-item>
            <ion-item>
              Ian
            </ion-item>
            <ion-item>
              MJ
            </ion-item>
          </ion-list>
        </div>
         
          <section>
            <ion-fab vertical="" horizontal="end" slot="fixed">
              <ion-fab-button>
                  <ion-icon name="add"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="top">
                  <ion-fab-button>
                      <ion-icon name="logo-facebook"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button>
                      <ion-icon name="logo-twitter"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-button>
                      <ion-icon name="logo-instagram"></ion-icon>
                  </ion-fab-button>
              </ion-fab-list>
            </ion-fab>
          </section>
          
         
      </ion-content>
      
      
      